// Place all the styles related to the people controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img_index{
  max-width: 10em;
  max-height: 10em;
}

.img_show{
  max-width: 30em;
  max-height: 30em;
}
